<ion-header>
  <ion-toolbar>
    <ion-title>Informacion</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://media.istockphoto.com/photos/hand-writing-algebra-equations-picture-id172626228?k=20&m=172626228&s=612x612&w=0&h=C-Io49QP5dL-1LhSAkhur9MviHaAZXzSMODBfs9FMMs=" />
      <ion-card-title>Prueba Matematica</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estimados estudiantes preparense para la prueba entrara contenido de la unidad 1 y 2 ademas de lo visto en clases la prueba se realizara el dia 11/06/22 
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <img src="https://i.pinimg.com/originals/a5/f2/22/a5f2222f52e73b99ed3b07f57e7dfbca.jpg" />
      <ion-card-title>Prueba Lenguaje</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Estimados estudiantes la prueba entrara todo el contenido de la unidad 5 ademas de lo visto en clases la prueba se realizara el dia 15/07/22 
    </ion-card-content>
  </ion-card>

</ion-content>
